:root {
  --black: black;
  --white: white;
}

.tippy-box[data-theme~="custom"] {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--black);
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--black);
}
.tippy-box[data-theme~="custom"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--black);
}
.tippy-box[data-theme~="custom"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--black);
}
