@import 'tachyons';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  -webkit-font-smoothing: antialiased;
}

.arial {
  font-family: arial, sans-serif;
}

.space {
  font-family: 'Space Grotesk', sans-serif;
}

.fossheim-purple {
  color: #3e3355;
  fill: #3e3355;
}

.toogle-gray {
  color: #6b7381;
}

.b--custom-light-gray {
  border-color: #e7e8eb;
}

/* Source: https://smolcss.dev/ */
.smol-css-grid {
  --min: 300px;
  --gap: 0rem;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, var(--min));
}

.smol-centering {
  display: grid;
  place-content: center;
}

.icon {
  color: transparent;
  text-shadow: 0 0 #3e3355;
}
