# https://docs.npmjs.com/cli/v10/using-npm/config#config-settings
# https://docs.npmjs.com/cli/v10/using-npm/config#environment-variables
# https://docs.npmjs.com/cli/v10/using-npm/config#default-configs

audit=false
engine-strict=true
fund=false
git-tag-version=false
package-lock=false
progress=true
save-exact=true
update-notifier=false
